@font-face {
  font-family: 'Playpen_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Playpen_Sans/PlaypenSans-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.body-bg {
  display: flex;
  background-color: #1b1d3a91;
}
.main-header {
  background-color: #0b0b0da7;
  display: inline-flex;
  padding-left: 93px;
  padding-right: 154px;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin: 80px 0 0 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.logo__text {
  color: #a276ff;
}
.block-nav {
  margin-top: 47px;
}
.nav-list {
  padding: 0;
  margin: 0 5px 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav-item {
  font-family: "Oswald", sans-serif;
}
.nav-item__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 94px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.nav-item__link:hover {
  color: #a276ff;
}
.block-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  flex-grow: 1;
  margin-top: 200px;
}
.support {
  margin-bottom: 47px;
}
.support__link {
  text-decoration: none;
  color: lightgray;
}
.contact__link {
  text-decoration: none;
  color: lightgray;
}
.inf {
  margin: 30px 0 10px 20px;
  color: gray;
}
.inf a {
  font-family: "Oswald", sans-serif;
}
.social {
  display: inline-flex;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 80%;
  background-color: #a276ff;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}
.social-block {
  margin: 0 30px;
}
.social img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 250px;
  margin-left: 207px;
}
.main-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 47px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  width: 50%;
}
.span {
  font-size: 99px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #a276ff;
}
.main-description {
  margin: 20px 0 0 0;
  text-align: left;
  font-size: 29px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
.btn {
  background-color: transparent;
  border-radius: 17px;
  border: 2.5px solid #fff;
  padding: 20px 60px;
}
.main-btn {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #fff;
  width: 28%;
  text-align: center;
}
.pic {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.pic img {
  width: 230px;
  border-radius: 11px 11px 11px 11px;
  margin: 50px 45px 0 0;
}
.news {
  margin-top: 50px;
}
.news-pic {
  margin-left: 8px;
}
.main-descrip {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 165.688%;
  margin: 12px 0 40px 0;
}
@media (max-width: 1050px) {
  .main-btn {
    font-size: 16px;
  }
  .btn {
    padding: 11px 22px;
    border-radius: 12px;
  }
  .social {
    padding: 4px;
  }
  .social-block {
    margin: 0 16px;
  }
}
@media (max-width: 830px) {
  .main-header {
    padding-left: 32px;
    padding-right: 58px;
  }
  .main-block {
    margin-top: 100px;
    margin-left: 100px;
  }
  .main-title {
    font-size: 34px;
  }
  .span {
    font-size: 69px;
  }
  .main-description {
    font-size: 23px;
  }
  .main-btn {
    font-size: 12px;
  }
  .btn {
    padding: 9px 29px;
    border-radius: 9px;
  }
  .social {
    padding: 1px;
  }
  .social-block {
    margin: 0 12px;
  }
  .inf {
    margin: 0 0 60px 19px;
  }
}
